@model Utilitario.MUsuario.Usuario

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_usua)

        <div class="form-group">
            @{
                <span>Nombre</span> <!--Html.DisplayNameFor(model => model.nombre_usua)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre_usua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre_usua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Usuario</span> <!--Html.DisplayNameFor(model => model.user_name)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Rol</span> <!--Html.DisplayNameFor(model => model.rol_id)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.rol_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.rol_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Clave</span> <!--Html.DisplayNameFor(model => model.clave)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.clave, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Correo</span> <!--Html.DisplayNameFor(model => model.correo)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Estado</span> <!--Html.DisplayNameFor(model => model.estado)-->
            }
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.estado)
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Apellido</span> <!--Html.DisplayNameFor(model => model.apellido_usua)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido_usua, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.apellido_usua, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Dirección</span> <!--Html.DisplayNameFor(model => model.direccion)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Teléfono</span> <!--Html.DisplayNameFor(model => model.telefono)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Documento</span> <!--Html.DisplayNameFor(model => model.num_documento)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.num_documento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.num_documento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Fecha Nacimiento</span> <!--Html.DisplayNameFor(model => model.fecha_nac)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_nac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_nac, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Departamento</span> <!--Html.DisplayNameFor(model => model.dep_nacimiento)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.dep_nacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dep_nacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @{
                <span>Ciudad</span> <!--Html.DisplayNameFor(model => model.ciu_nacimiento)-->
            }
            <div class="col-md-10">
                @Html.EditorFor(model => model.ciu_nacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ciu_nacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
